<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${authority}:${code} ${name} -- Spatial Reference</title>
    <link rel="stylesheet" href="${home_dir}/base.css"/>
    <link rel="icon" type="image/x-icon" href="${home_dir}/favicon.ico"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body>
    <div id="header">
        <div id="header_logo">
            <a href="${home_dir}/"><img src="${home_dir}/sr_logo.jpg" border=0></a>
        </div>
        <div id="header_title">
            ${authority}:&hairsp;${code}
        </div>
    </div>
    <div id="searchbox"> <!--TODO XXX-->
        <form action="${home_dir}/ref/">
        <input type="text"name="search" value=""/> <input type="submit" value="Search" />
        </form>  
    </div>

    <div id="navbar"> <!--TODO XXX-->
        <div id="navlinks">
            <a href="${home_dir}/">Home</a> | 
            <a href="${home_dir}/ref/">List all references</a>
        </div>
    </div>

    <div id="content">
        Previous: <a href="${prev_url}">${prev_full_name}</a> | Next: <a href="${next_url}">${next_full_name}</a> 

        <h1>${authority}:${code}</h1>
        <h2>${name}</h2>
        <p>${epsg_a}</p>
        <p style="font-size:0.8em"></p>
        <ul>
        
            <li><b>Type</b>: ${crs_type}</li>
            <li><b>WGS84 Bounds</b>: ${bounds}</li>
            <li><b>Scope</b>: ${scope}</li>
            <li><b>Area</b>: ${area_name}</li>
          
        </ul>
        
        <div style="margin:10px; padding: -5px 15px 0px 0px; background:lightgrey; border: 2px solid black; width:350px; max-width: 90%;">
        <ul>
            <li>WKT-1</li>
            <ul>
                <li><a href="html/">Well Known Text as HTML</a></li>
                <li><a href="prettywkt/">Human-Readable OGC WKT</a></li>
                <li><a href="ogcwkt/">OGC WKT</a></li>
            </ul>
            <li>WKT-2</li>
            <ul>
                <li><a href="htmlwkt2/">Well Known Text 2 as HTML</a></li>
                <li><a href="prettywkt2/">Human-Readable OGC WKT2</a></li>
                <li><a href="ogcwkt2/">OGC WKT2</a></li>
            </ul>
            <li><a href="esriwkt/">ESRI WKT</a></li>
            <li><a href="json/">JSON</a></li>
            <li><a href="proj4/">Proj4</a></li>
        </ul>  
        </div>
        
        <div id="map" style="width:512px; height:256px; max-width: 90%; margin:10px; padding: -5px 15px 0px 0px; border: 2px solid darkblue;"></div>
    </div>
    
    <div id="footer">
        <a href="${home_dir}/about/">About</a>
    </div>
    <script src="${home_dir}/base.js"></script>
    <script>
        init_map([$bounds])
    </script>     
       
</body>
</html>
    
