<!DOCTYPE html>
<html>
<head>
    ${head}
    <title>${authority}:${code} ${name} -- Spatial Reference</title>
    ${leaflet}
</head>

<body>
    <div id="header">
        ${header}
        <div id="header_title">
            ${authority}:<wbr />${code}
        </div>
    </div>
    <div id="searchbox">
        ${searchbox}
    </div>

    <div id="navbar">
        ${navbar}
    </div>

    <div id="content">
        Previous: <a href="${prev_url}">${prev_full_name}</a> | Next: <a href="${next_url}">${next_full_name}</a>

        <h1>${authority}:${code}</h1>
        <h2>${name}</h2>
        <p>
            <span ${epsg_style}>View <a href="https://epsg.org/crs_${code}/${epsg_scaped_name}.html" target="_blank">EPSG.org
             defintion for EPSG:${code}</a> | </span><a href="http://www.google.com/search?q=${name}" target="_blank">Google it</a>
        </p>
        <div ${error_style} class="crs_error"><b>ERROR!</b> ${error}</div>
        <ul ${list_style}>
            <li><b>Type</b>: ${crs_type}</li>
            <li><b>WGS84 Bounds</b>: ${bounds}</li>
            <li><b>Scope</b>: ${scope}</li>
            <li><b>Area</b>: ${area_name}</li>
            <li ${deprecated_style} class="darkred"><b>Deprecated!</b></li>
        </ul>

        <div class="list-box">
        <ul>
            <li>WKT-1</li>
            <ul>
                <li><a href="wkt.html">Well Known Text as HTML</a></li>
                <li><a href="prettywkt.txt">Human-Readable OGC WKT</a></li>
                <li><a href="ogcwkt/">OGC WKT</a></li>
            </ul>
            <li>WKT-2</li>
            <ul>
                <li><a href="wkt2.html">Well Known Text 2 as HTML</a></li>
                <li><a href="prettywkt2.txt">Human-Readable OGC WKT2</a></li>
            </ul>
            <li><a href="esriwkt.txt">ESRI WKT</a></li>
            <li><a href="#" onclick="download_prj('${code}.prj', 'esriwkt.txt')" title="Download as PRJ file from ESRI">.PRJ</a></li>
            <li><a href="projjson.json" title="PROJJSON">JSON</a></li>
            <li><a href="proj4.txt">Proj4</a></li>
        </ul>
        </div>

        <div id="map" class="map-container"></div>
    </div>

    <div id="footer">
        ${footer}
    </div>

    <script src="${home_dir}/base.js"></script>
    <script>
        init_map([$bounds_map])
    </script>
</body>
</html>

