<!DOCTYPE html>
<html>
<head>
    ${head}
    <title>${authority}:${code} -- Spatial Reference</title>
</head>

<body>
    <div id="header">
        ${header}
        <div id="header_title">
            ${authority}:${code}
        </div>
    </div>
    <div id="searchbox">
        ${searchbox}
    </div>

    <div id="navbar">
        ${navbar}
    </div>

    <div id="content">
        <div class="nicewkt" id="wkt">${syntax_html}</div>
        <a href="./">More formats</a>
    </div>

    <div id="footer">
        ${footer}
    </div>
    <script src="${home_dir}/base.js"></script>
    <script>
        fill_prettywkt("${wkt_filename}")
    </script>
</body>
</html>

