<!DOCTYPE html>
<html>
<head>
    ${head}
    <title>${authority}:${code} -- Spatial Reference</title>
</head>

<body>
    <div id="header">
        ${header}
        <div id="header_title">
            ${authority}:${code}
        </div>
    </div>
    <div id="searchbox">
        ${searchbox}
    </div>

    <div id="navbar">
        ${navbar}
    </div>

    <div id="content">
        <div class="nicewkt">${syntax_html}</div>
        <a href="../">More formats</a>
    </div>

    <div id="footer">
        ${footer}
    </div>
</body>
</html>

