<!DOCTYPE html>
<html>
<head>
    ${head}
    <title>Home -- Spatial Reference</title>
</head>

<body>
    <div id="header">
        ${header}
        <div id="header_title">
            Welcome
        </div>
    </div>
    <div id="searchbox">
        ${searchbox}
    </div>

    <div id="navbar">
        ${navbar}
    </div>

    <div id="content">
        <h2>Find your references in any number of formats!</h2>
        <p>Last Revised ${last_revised}</p>
    </div>
    <div id="footer">
        ${footer}
    </div>

    <script src="${home_dir}/base.js"></script>
</body>