<!DOCTYPE html>
<html>
<head>
    ${head}
    <title>Spatial Reference List -- Spatial Reference</title>
    ${leaflet}
</head>

<body>
    <div id="header">
        ${header}
        <div id="header_title">
            Spatial Reference List
        </div>
    </div>
    <div id="searchbox">
        ${searchbox}
    </div>

    <div id="navbar">
        ${navbar}
    </div>

    <div id="content">
        <div>
            <a class="prev_page" href="?page=1">Previous Page</a> | <a class="next_page" href="?page=2">Next Page</a>
        </div>
        <p>Entries found: <span id="found"></span> <span id="searched_text"></span></p>
        <div class="outer-wrapper">
            <div class="inner-flexbox">
                <div id="list1">
                    <ul>
                    </ul>
                </div>
                <div id="list2">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a class="prev_page" href="?page=1">Previous Page</a> | <a class="next_page" href="?page=2">Next Page</a>
        </div>
    </div>

    <div id="footer">
        ${footer}
    </div>
    <script src="${home_dir}/base.js"></script>
    <script>
        init_ref("${home_dir}")
    </script>

</body>
</html>
